html, body {
  margin: 0;
}

h1, h2, a {
  font-family: 'Oswald', sans-serif;
}

p {
  font-family: Helvetica, Arial, sans-serif; 
}

.container {
  margin: 0 auto;
  position: relative;
  width: 940px;
}

/* Main */
.main {
  background-image: url("http://portfolio.frontlineimage.com/data/photos/501_1wilz_newbalance_ilz1876.jpg");
  background-size: cover;
  width: 100%;
  height: 650px;
  color: white;
  text-align: center;
}

.main h1 {
  font-size: 200px;
  text-transform: uppercase;
  margin: 70px 0 0;
}

.main p {
  font-size: 18px;
  margin: 30px;
}

.btn {
  background-color: transparent;
  border-radius: 0px;
  color: white;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  text-decoration: none;
  text-transform: uppercase;
}


/* Supporting */
.supporting {
  background-color: #1c1c1c;
  padding: 50px 0 80px;
  text-align: center;
}

.supporting .col {
  float: left;
  width: 28%;
  padding: 10px;
}

.supporting h1,
.supporting h2 {
  color: #2C2CDB;
  font-size: 30px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.clearfix {
  clear: both;
}

.supporting p {
  color: #efefef;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 20px;
}

.supporting .btn {
  background-color: #eee;
  color: #1c1c1c;
  display: inline-block;
  font-size: 18px;
  padding: 8px 30px;
  text-decoration: none;
}

/* Feature */
.feature {
  background-image: url("https://runninglikeagazelle.files.wordpress.com/2013/12/dsc_9464-low.jpg");
  background-size: cover;
  height: 700px;
  text-align: center;
  margin: auto;
}

.feature h1,
.feature h2 {
  color: #fff;
  font-size: 60px;
  margin: 0px;
  padding:50px 0 0;
  text-transform: uppercase;
}

.feature .container {
  position: relative;
  top: 200px;
}

/* Footer */
.footer {
  background-image: url("http://www.latoro.com/wallpapers/black-and-white/19243-desktop-wallpapers-road.jpg");
  background-size: cover;
  height: 600px;
  text-align: center;
  width: 100%;
}

.footer .container {
  position: relative;
  text-transform: uppercase;
  top: 200px;
}

.footer h1,
.footer h2 {
  color: #fff;
  font-size: 40px;
  margin: 0 0 20px 0;
  padding:50px 0 0;

}

.footer p {
  color: #fff;
  margin: 0 0 20px 0;
  font-size: 18px;
}

.footer btn {
  background-color: #1c1c1c;
  color: white;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  text-decoration: none;
  text-transform: uppercase;
}


@media (min-width:600px) {
  .main h1 {
    font-size: 200px;
  }

  .supporting .col {
    width: 30%;
  }

  .supporting h2 {
    font-size: 40px;
  }

  .supporting p {
    font-size: 14px;
  }

  .feature h2 {
    font-size: 60px;
  }
}